
body {
    background-color: rgb(255, 115, 0);
    font-family: Courier;
    padding: 15%
    
   

}

/*

.fa {
    padding: 15px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px auto;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
*/